.Body {
  height: auto;
  width: 100%;

  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

/* HR CONSULTING */

.firstPart {
  padding: 5vw 15vw;
  display: flex;
  gap: 2vw;
}

.left img {
  height: 50vh;
  width: 60vw;
}

.right {
  padding: 2vw 2vw;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.right h3 {
  font-size: 1.1vw;
  color: #616d74;
  font-family: serif;
  font-weight: bold;
}

.right h1 {
  font-size: 2vw;
  font-weight: bolder;
  color: #033658;
  text-align: start;
}

.right p {
  color: #616d74;
}

.right button {
  margin-top: 2vh;
  height: 7vh;
  width: 10vw;
  background-color: #ffbd59;
  border-radius: 0.5vh;
  color: #033658;
  text-align: center;
}

.right button::after {
  content: " →";
}

/*  LIST OF SERVICES */

.secondPart {
  height: auto;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.threeLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 0vw;
  gap: 1.2vw;
}

.threeLine h1 {
  font-size: 2vw;
  font-weight: bolder;
  color: #033658;
}

.threeLine h2 {
  font-size: 1.3vw;
  color: #616d74;
  font-family: serif;
  font-weight: bold;
}

.threeLine h3 {
  font-size: 1.3vw;
  color: #616d74;
  font-family: serif;
}

.card-container {
  width: 100%;
  padding: 1vw 15vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5vw;
}

.card {
  height: auto;
  width: 24vw;
  width: 17vw;
  background-color: white;
  border-radius: 0.5vw;
  padding: 2.5vw 2vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: calc(33.33% - 1vw);
  flex-wrap: wrap;
}

.logo-container img {
  height: 4vw;
  width: 4vw;
}
.card h1 {
  font-size: 1.5vw;
  font-weight: bolder;
  color: #033658;
}

.card p {
  font-size: 1vw;
  color: #616d74;
}

.uniqueCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/1181396/pexels-photo-1181396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 2rem;
}
.uniqueCard img {
  height: 5vw;
  width: 5vw;
}

.uniqueCard h2,
.uniqueCard p {
  color: #616d74;
}

.card-container .uniqueCard h1 {
  width: 4vw;
}

.uniqueCard:hover {
  background-image: none;
  background-color: #002863;
  transition: background 1.5s ease;
}

.uniqueCard:hover h1 {
  color: white;
}

/* // HR SERVICES FOR BUSINESS */

.thirdPart {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* gap: 5vw; */
  background-color: rgb(62, 62, 172);
  padding: 5vw 15vw;
  border-radius: 1vw 1vw;
}

.thirdPart .leftThird {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3vw;
  position: relative;
}

.thirdPart .leftThird h1 {
  color: white;
  font: 900;
  font-family: Satoshi, sans-serif;
  font-size: 2vw;
}

.thirdPart .leftThird p {
  color: rgb(172, 185, 193);
  font-size: 1vw;
  text-overflow: ellipsis;
}

.leftPoint li::before {
  content: "✔";
  font-size: 1vw;
  border-radius: 50%;
  background-color: #ff9a00;
  border: 1px solid rgb(21, 22, 21);
  color: rgb(51, 51, 232);
  margin-right: 1vw;
}

.rightPoint li::before {
  content: "✔";
  font-size: 1vw;
  border-radius: 50%;
  background-color: #ff9a00;
  border: 1px solid rgb(21, 22, 21);
  color: rgb(51, 51, 232);
  margin-right: 1vw;
}

.points {
  display: flex;
  flex-direction: row;

  justify-content: center;
  /* justify-content: center; */
  gap: 1vw;
}

.leftPoint,
.rightPoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;
  text-align: justify;
}
.leftPoint ul,
.rightPoint ul {
  /* list-style-type: none; */
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.thirdImg img {
  width: 170vw;
  margin-left: 5vw;
}

.leftThird button {
  margin-top: 2vh;
  height: 6vh;
  width: 10vw;
  background-color: #ffbd59;
  border-radius: 0.5vh;
  color: #033658;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5vh;
}

.leftThird button::after {
  content: " →";
}

/* >HR Consulting Price Sheet */

.fourthPart {
  height: auto;
  width: 100%;
  /* display: flex;
    flex-direction: column; */
  padding: 0vw 15vw;
  background-color: #f5f5f5;
  z-index: 1;
}

.upperText {
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.upperText h1 {
  font-size: 1.8vw;
  font-weight: 800;
  color: #002863;
}

.upperText h3 {
  font-size: 1.2vw;

  color: #616d74;
}

.priceSheet {
  margin-top: 5vw;
  height: auto;
  width: 100%;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.3vw;
  justify-content: space-between; /* To ensure equal spacing between items */
}

.priceCard {
  height: 55vw;
  width: calc(33.33% - 1vw); /* Ensure 3 cards fit in one row */
  background-color: white;
  border-radius: 0.5vw 0.5vw 0.5vw 1vw;
  padding: 2.5vw 2vw;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border: 1px solid #e9e4e4;
}

.priceCard h1 {
  font-size: 1.6vw;
  font-weight: bolder;
  color: #033658;
  overflow: hidden;
}

.innerDiv {
  height: 6vw;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 4%;
  padding: 1vw 2vw;
  gap: 3vw;
}

.innerDiv h1 {
  display: flex;
  flex-direction: column;
  font-size: 1.1vw;
  font-weight: bolder;
  color: #033658;
}

.innerDiv h3 {
  font-size: 1vw;
  color: #616d74;
}

.priceCard h2 {
  font-size: 1.6vw;
  font-weight: bolder;
  color: #033658;
}

.priceCard li::before {
  content: "✔";
  font-size: 1vw;
  border-radius: 50%;
  background-color: rgb(88, 236, 90);
  border: 1px solid rgb(21, 22, 21);
  color: rgb(208, 250, 188);
  margin-right: 1vw;
}

.priceSheet ul {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  color: #b4aaaa;
}

.priceCard button {
  height: 6vh;
  width: 10vw;
  background-color: #ffbd59;
  border-radius: 0.7vh;
  color: #033658;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 1vw;
}

.priceCard button::after {
  content: " →";
}

/*                                   RESPONSIVE STYLE     */

/* Media Query for 1200px */
@media screen and (max-width: 1200px) {
  .Body {
    padding: 0;
    flex-direction: column;
    gap: 3vw;
  }

  /* First Part */
  .firstPart {
    padding: 0 10vw;
    gap: 2vw;
    flex-direction: row;
  }

  .left img {
    height: 60vh;
    width: 45vw;
  }

  .right {
    padding: 5vw 2vw;
    gap: 1vw;
  }

  .right h1 {
    font-size: 2.5vw;
  }

  .right h3 {
    font-size: 1.5vw;
  }

  .right p {
    font-size: 1.2vw;
  }

  .right button {
    height: 6vh;
    width: 15vw;
    font-size: 1.2vw;
  }

  /* Second Part */
  .secondPart {
    padding: 0 10vw;
    gap: 2vw;
  }

  .threeLine h1 {
    font-size: 3vw;
  }

  .threeLine h2,
  .threeLine h3 {
    font-size: 1.6vw;
  }

  .card-container {
    padding: 0 10vw;
    gap: 2vw;
  }

  .card {
    width: calc(30% - 2vw);
  }

  .uniqueCard h1 {
    font-size: 2.2vw;
  }

  .uniqueCard p {
    font-size: 1.2vw;
  }

  /* Third Part */
  .thirdPart {
    padding: 5vw 12vw;
    flex-direction: row;
  }

  .thirdPart .leftThird h1 {
    font-size: 2.5vw;
  }

  .thirdPart .leftThird p {
    font-size: 1.2vw;
  }

  .leftPoint li::before,
  .rightPoint li::before {
    font-size: 1.5vw;
  }

  /* Fourth Part */
  .fourthPart {
    padding: 0 12vw;
  }

  .upperText h1 {
    font-size: 2.5vw;
  }

  .upperText h3 {
    font-size: 1.6vw;
  }

  .priceSheet {
    flex-direction: row;
    gap: 2vw;
  }

  .priceCard {
    width: calc(30% - 2vw);
    height: auto;
  }

  .priceCard h1 {
    font-size: 2vw;
  }

  .priceCard h2 {
    font-size: 2vw;
  }

  .priceCard button {
    width: 15vw;
    font-size: 1.4vw;
  }

  .innerDiv h1 {
    font-size: 1.4vw;
  }

  .innerDiv h3 {
    font-size: 1.2vw;
  }

  .priceSheet ul {
    gap: 1vw;
  }
}

@media screen and (max-width: 768px) {
  /* Adjust the Body */
  .Body {
    padding: 0;
    flex-direction: column;
    gap: 4vw;
  }

  /* First Part */
  .firstPart {
    padding: 0 5vw;
    flex-direction: column;
    gap: 4vw;
  }

  .left img {
    height: auto;
    width: 100%;
  }

  .right {
    padding: 5vw 2vw;
    gap: 3vw;
  }

  .right h1 {
    font-size: 3.5vw;
  }

  .right h3 {
    font-size: 2.5vw;
  }

  .right p {
    font-size: 2.2vw;
  }

  .right button {
    height: 6vw;
    width: 30vw;
    font-size: 2.5vw;
  }

  /* Second Part */
  .secondPart {
    padding: 2vw 5vw;
  }

  .threeLine h1 {
    font-size: 4vw;
  }

  .threeLine h2 {
    font-size: 2.5vw;
  }

  .threeLine h3 {
    font-size: 2.2vw;
  }

  .card-container {
    padding: 0;
    gap: 3vw;
    flex-direction: column;
  }

  .logo-container img {
    height: 5vw;
    width: 5vw;
  }

  .card h1 {
    font-size: 2.8vw;
  }

  .card p {
    font-size: 2vw;
  }

  .card {
    width: 100%;
  }

  /* Unique Card Adjustments */
  .uniqueCard h1 {
    font-size: 3.8vw;
  }

  .uniqueCard p {
    font-size: 2.5vw;
  }

  /* Third Part */
  .thirdPart {
    padding: 5vw;
    flex-direction: column;
    gap: 4vw;
  }

  .points {
    margin-top: 4vw;
  }

  .leftPoint,
  .rightPoint ul {
    gap: 2vw;
  }

  .thirdPart .leftThird h1 {
    font-size: 4vw;
  }

  .thirdPart .leftThird p {
    font-size: 2.2vw;
  }

  .leftPoint li::before,
  .rightPoint li::before {
    font-size: 2vw;
  }

  .leftThird button {
    font-size: 2.8vw;
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 6vh;
    width: 25vw;
    top: 50vw;
  }

  /* Fourth Part */
  .fourthPart {
    padding: 5vw;
  }

  .upperText h1 {
    font-size: 3.8vw;
  }

  .upperText h3 {
    font-size: 2.5vw;
  }

  .priceSheet {
    flex-direction: column;
    gap: 4vw;
  }

  .priceCard {
    width: 100%;
    height: 100vw;
  }
  .priceCard .innerDiv {
    height: 12vh;
  }

  .priceCard h1 {
    font-size: 3vw;
  }

  .priceCard h2 {
    font-size: 2.8vw;
  }

  .innerDiv h1 {
    font-size: 2.8vw;
  }

  .innerDiv h3 {
    font-size: 2.2vw;
  }

  .priceSheet ul {
    gap: 2vw;
  }

  .priceCard button {
    width: 35vw;
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust the Body */
  .Body {
    padding: 0;
    flex-direction: column;
    gap: 5vw;
  }

  /* First Part */
  .firstPart {
    padding: 0 5vw;
    flex-direction: column;
    gap: 4vw;
  }

  .left img {
    height: auto;
    width: 100%;
  }

  .right {
    padding: 5vw 2vw;
    gap: 3vw;
  }

  .right h1 {
    font-size: 5vw;
  }

  .right h3 {
    font-size: 3.5vw;
  }

  .right p {
    font-size: 3vw;
  }

  .right button {
    height: 7vw;
    width: 35vw;
    font-size: 3vw;
  }

  /* Second Part */
  .secondPart {
    padding: 2vw 5vw;
  }

  .threeLine h1 {
    font-size: 5vw;
  }

  .threeLine h2 {
    font-size: 3vw;
  }

  .threeLine h3 {
    font-size: 2.5vw;
  }

  .card-container {
    padding: 0;
    gap: 3vw;
    flex-direction: column;
  }

  .logo-container img {
    height: 6vw;
    width: 6vw;
  }

  .card h1 {
    font-size: 3.5vw;
  }

  .card p {
    font-size: 2.5vw;
  }

  .card {
    width: 100%;
  }

  /* Unique Card Adjustments */
  .uniqueCard h1 {
    font-size: 5vw;
  }

  .uniqueCard p {
    font-size: 3vw;
  }

  /* Third Part */
  .thirdPart {
    padding: 5vw;
    flex-direction: column;
    gap: 5vw;
  }

  .thirdPart .leftThird {
    position: relative;
  }
  .points {
    margin-top: 5vw;
  }
  .leftPoint,
  .rightPoint ul {
    gap: 2vw;
  }

  .thirdPart .leftThird h1 {
    font-size: 5vw;
  }

  .thirdPart .leftThird p {
    font-size: 3vw;
  }

  .leftPoint li::before,
  .rightPoint li::before {
    font-size: 3vw;
  }

  .leftThird button {
    font-size: 3vw;
    position: absolute; /* Place it relative to the nearest positioned ancestor */
    bottom: 10px; /* 10px from the bottom */
    right: 10px; /* 10px from the right */
    height: 6vh;
    width: 30vw;
    background-color: #ffbd59;
    border-radius: 0.5vh;
    color: #033658;
    text-align: center;
    top: 80vw;
  }

  /* Fourth Part */
  .fourthPart {
    padding: 5vw;
  }

  .upperText h1 {
    font-size: 4.5vw;
  }

  .upperText h3 {
    font-size: 3vw;
  }

  .priceSheet {
    flex-direction: column;
    gap: 5vw;
  }

  .priceCard {
    width: 100%;
    height: 120vw;
  }

  .priceCard h1 {
    font-size: 4vw;
  }

  .priceCard h2 {
    font-size: 3.5vw;
  }
  .priceCard .innerDiv {
    height: 7vh;
  }

  .innerDiv h1 {
    font-size: 3vw;
  }

  .innerDiv h3 {
    font-size: 2.5vw;
  }

  .priceSheet ul {
    gap: 2vw;
  }

  .priceCard button {
    width: 40vw;
    font-size: 3.5vw;
  }
}
