/*                      Main Section Styles */
.peo-container {
  width: 100%;
  height: auto;
}

.peo-main {
  width: 80%;
  margin: 2rem auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.peo-main-image {
  width: 50%;
  text-align: center;
}

.peo-main-image img {
  width: 90%;
  height: 80%;
  margin: 1rem auto;
  border-radius: 10px;
}

.peo-main-contant {
  width: 45%;
  padding-top: 4rem;
}

.peo-container h2 {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #e79522;
}

.peo-main-contant h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #002863;
  padding-bottom: 1rem;
  text-align: start;
}

.peo-main-contant p {
  opacity: 70%;
  line-height: 1.5rem;
}

.peo-main-btn {
  width: 30%;
  text-align: center;
  background-color: #e79522;
  color: white;
  font-size: 1.25rem;
  padding: 10px 0;
  border-radius: 5px;
  border: 0;
  margin-top: 2rem;
  text-decoration: none;
}

.peo-main-btn:hover {
  background-color: #db8d21;
}

/*                           Solutions Section Styles */
.peo-solution {
  width: 100%;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.peo-solution h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #002863;
  text-align: center;
}

.peo-solution-cards {
  width: 80%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.peo-solution-card {
  width: 32%;
  padding: 2rem 1.5rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgb(9 22 48 / 0.06);
}

.peo-solution-card img {
  width: 15%;
}

.peo-solution-card h2 {
  opacity: 100%;
  font-size: 25px;
  font-weight: 600;
  color: #002863;
}

.peo-solution-card p {
  font-size: 17px;
  font-weight: 400;
  color: #4d4d4d;
  padding-bottom: 1rem;
}

/*                                  Benefits Section Styles */
.peo-benefit {
  width: 100%;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.peo-benefit h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #002863;
  text-align: center;
}

.peo-benefit-cards {
  width: 80%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.peo-benefit-card {
  width: 32%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgb(9 22 48 / 0.06);
}

.peo-benefit-card img {
  width: 100%;
}

.peo-benefit-card h2 {
  opacity: 100%;
  font-size: 25px;
  font-weight: 600;
  color: #002863;
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.peo-benefit-card p {
  font-size: 17px;
  font-weight: 400;
  color: #4d4d4d;
  padding: 0 1.5rem 2rem 1.5rem;
}

.peo-benefit-unique {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/proBenefit6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 2rem;
}

.peo-benefit-unique h2,
.peo-benefit-unique p {
  color: white;
}

.peo-benefit-unique img {
  width: 20%;
  cursor: pointer;
}

.peo-benefit-unique:hover {
  background-image: none;
  background-color: #002863;
  transition: background 1.5s ease;
}

/*                                     Pricing PEO Main Styles*/
.peo-pricing {
  width: 100%;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.peo-pricing h2 {
  opacity: 60%;
  color: white;
}

.peo-pricing h1 {
  color: white;
  padding-bottom: 4rem;
}

.peo-pricing-cards {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.peo-pricing-card {
  width: 49%;
  background-color: white;
  border-radius: 20px;
}

.peo-pricing-card h3 {
  color: #002863;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 2rem;
}

.peo-pricing-card-price {
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  line-height: 2.25rem;
}

.peo-pricing-card-price h3 {
  text-align: start;
  padding: 0;
}

.peo-pricing-card-price h5 {
  font-size: 1.25rem;
  font-weight: 100;
}

.peo-pricing-card h4 {
  font-size: 1.25rem;
  margin: 2rem 0 1rem 2rem;
  color: #002863;
}

.peo-pricing-card ul {
  font-size: 1.25rem;
  list-style: none;
}

.peo-pricing-card ul li {
  position: relative;
  padding-left: 4rem;
  line-height: 2rem;
}

.peo-pricing-card ul li::before {
  content: "✔";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  left: 0;
  margin-left: 2rem;
}

.peo-pricing-btn {
  width: 20%;
  text-align: center;
  background-color: #e79522;
  padding: 10px 0;
  border-radius: 5px;
  border: 0;
  margin-top: 2rem;
  text-decoration: none;
}

.peo-pricing-btn:hover {
  background-color: #db8d21;
}

/*                                      Resources and Articles Styles */
.peo-resources {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.peo-resources h2 {
  color: #e79522;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.peo-resources h1 {
  color: #002863;
}

.peo-resource-cards {
  width: 80%;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.peo-resource-card {
  width: 32%;
}

.peo-resource-card img {
  width: 100%;
  border-radius: 10px;
}

.peo-resource-card-btn {
  margin: 10px 0 10px 10px;
}

.peo-resource-article-btn {
  margin-right: 5px;
}

.peo-resource-article-btn,
.peo-resources-btn {
  padding: 6px 12px;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: #d9d9ee;
}

.peo-resource-card-text {
  padding: 10px;
}

.peo-resource-card-text h4 {
  font-weight: 500;
}

.peo-resource-card-text p {
  margin-top: 15px;
  color: #86868a;
}

.peoResource-btn {
  width: 10%;
  text-align: center;
  background-color: #e79522;
  color: white;
  padding: 10px 5px;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
}

.peoResource-btn:hover {
  background-color: #db8d21;
}

/*                                     Responsive Styles 1200px */
@media (max-width: 1280px) {
  .peo-main {
    width: 90%;
  }

  .peo-main-image {
    width: 48%;
  }

  .peo-main-contant {
    width: 48%;
  }

  .peo-main-contant h1 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .peoResource-btn {
    width: 15%;
  }
}

/*                                     Responsive Styles 1024px */
@media (max-width: 1024px) {
  .peo-main-contant {
    padding-top: 0;
  }

  .peo-solution-cards {
    width: 95%;
  }

  .peo-solution h1 {
    font-size: 1.75rem;
  }

  .peo-solution-card h2 {
    font-size: 1.25rem;
  }

  .peo-benefit-cards {
    width: 95%;
  }

  .peo-benefit h1 {
    font-size: 1.75rem;
  }

  .peo-benefit-card h2 {
    font-size: 1.25rem;
  }

  .peo-pricing-cards {
    width: 90%;
  }

  .peo-pricing-btn {
    width: 25%;
  }

  .peo-resource-cards {
    width: 95%;
  }

  .peo-resources h1 {
    font-size: 1.75rem;
  }
}

/*                                     Responsive Styles 850px */
@media (max-width: 850px) {
  .peo-main {
    width: 95%;
  }

  .peo-main-contant h1 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .peo-solution-card {
    width: 48%;
  }

  .peo-solution h1 {
    font-size: 1.5rem;
  }

  .peo-benefit-card {
    width: 48%;
  }

  .peo-benefit h1 {
    font-size: 1.5rem;
  }

  .peo-pricing-cards {
    width: 95%;
  }

  .peo-pricing-card {
    width: 49%;
  }

  .peo-pricing-card ul {
    font-size: 18px;
  }

  .peo-pricing-card ul li {
    padding-left: 3.5rem;
  }

  .peo-pricing-card ul li::before {
    width: 22px;
    height: 22px;
    margin-left: 1.5rem;
  }

  .peo-pricing-btn {
    width: 35%;
    font-size: 1.25rem;
  }

  .peo-resource-cards {
    gap: 1rem;
  }

  .peo-resource-card {
    width: 48%;
  }

  .peo-resources h1 {
    font-size: 1.5rem;
  }

  .peoResource-btn {
    width: 20%;
  }
}

/*                                     Responsive Styles 768px */
@media (max-width: 768px) {
  .peo-main {
    margin-bottom: 2rem;
  }

  .peo-solution-card {
    width: 100%;
  }

  .peo-solution-card img {
    width: 10%;
  }
}

/*                                     Responsive Styles 480px */
@media (max-width: 480px) {
  .peo-main {
    flex-wrap: wrap;
  }

  .peo-main-image {
    width: 98%;
  }

  .peo-main-contant {
    width: 98%;
    margin: 0 auto;
  }

  .peo-main-btn {
    font-size: 1rem;
  }

  .peo-solution h1 {
    width: 90%;
    font-size: 1.25rem;
    text-align: center;
  }

  .peo-solution-card {
    width: 95%;
    margin: 0 auto;
  }

  .peo-solution-card h2 {
    font-size: 20px;
  }

  .peo-solution-card p {
    font-size: 18px;
  }

  .peo-solution-card img {
    width: 12%;
  }

  .peo-benefit h1 {
    width: 90%;
    font-size: 1.25rem;
    text-align: center;
  }

  .peo-benefit-card {
    width: 95%;
    margin: 0 auto;
  }

  .peo-benefit-card h2 {
    font-size: 20px;
  }

  .peo-benefit-card p {
    font-size: 18px;
  }

  .peo-pricing h2 {
    font-size: 1.25rem;
  }

  .peo-pricing h1 {
    font-size: 1.5rem;
  }

  .peo-pricing-cards {
    flex-wrap: wrap;
    width: 95%;
    gap: 2rem;
  }

  .peo-pricing-card {
    width: 100%;
  }

  .peo-resource-card {
    width: 100%;
  }

  .peoResource-btn {
    width: 40%;
  }
}
