.pricing-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
}

.pricing-card-content {
  width: 50%;
  background-color: #1e3a8a;
  color: white;
  padding: 2rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing-card-content h2 {
  font-size: 1rem;
  opacity: 80%;
  font-weight: 400;
}

.pricing-card-content h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: white;
  text-align: start;
  padding-top: 1.25rem;
}

.contact-button {
  background-color: #e79522;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.contact-button:hover {
  background-color: #db8d21;
}

.pricing-info {
  width: 50%;
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pricing-info p {
  color: #4b5563;
}

.pricing-tier {
  background-color: #f3f4f6;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.pricing-tier p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e3a8a;
}

@media (max-width: 1200px) {
  .pricing-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .pricing-container {
    width: 95%;
    flex-direction: column;
  }

  .pricing-card-content {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }

  .pricing-card-content h1 {
    font-size: 1.5rem;
  }

  .contact-button {
    width: 30%;
  }

  .pricing-info {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
  }

  .pricing-info p {
    font-size: 15px;
  }

  .pricing-tier h3 {
    font-size: 14px;
  }

  .pricing-tier p {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .contact-button {
    width: 52%;
    font-size: 15px;
    padding: 0.5rem 0.5rem;
  }

  .pricing-info {
    padding: 2rem 1rem;
  }
}
