.ContactForm {
  display: flex;
  flex-wrap: wrap;

}



/* .form-background {
  flex: 1 1 35%;
  max-width: 600px;
  position: relative;
  z-index: 1;
  height: 900px;
} */

.form-section {
  width: 100%;
  max-width: 1200px;
  height: auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  top: 100%;
  z-index: 1;
}

textarea {
  resize: vertical;
}

.form-section .form-group:not(.form-row .form-group) {
  width: 100%;
}

.submit-button {
  padding: 10px 15px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}


.form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.intro-section {
  max-width: 40%;
  /* padding-right: 20px; */
  background-color: #15357a;
  color: white;
}

.form-section {
  max-width: 55%;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 20px;
  flex: 1;
  padding-right: 10px;
}

.form-background {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

b {
  font-size: 50px;
}
